
<!DOCTYPE html>
<html>
<head>
	<title>Angular JS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>">
	
</head>
<body ng-app="Module1" ng-init="x=0">
<div class="row" ng-controller="PostData">
	<div class="col-md-4">
		<form ng-submit="">
			<div class="form-group">
				<input type="text" required class="form-controller">
		    </div>
		    <input type="submit" class="btn btn-primary">
		</form>
	</div>
	<div class="col-md-6">
		<table>
			<tr>
				<th>Customer Name</th>
			</tr>
		</table>
		
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-10">
	<a href="#" class="btn btn-primary" ng-click="x=x+1"> Button has been clicked {{x}} times</a>
	<a href="#" class="btn btn-primary" ng-click="x=0">Reset</a>
</div>
</div>
<script>
	var app = angular.Module1("Module1",[]);

	app.controlller("PostData",function(){


		
	})
</script>
</body>